#exportPattern("^[[:alpha:]]+")
export("analysis")

importFrom("readr", "read_csv", "write_csv")
importFrom("dplyr", "mutate", "%>%", "filter", "left_join", "select", "group_by",
           "summarize", "arrange", "select_", "last")
importFrom("stringr", "str_replace_all", "str_to_lower")
importFrom("seasonal", "seas", "final")
importFrom("grDevices", "dev.off", "pdf")
importFrom("graphics", "lines", "plot")
importFrom("stats", "time", "ts")
importFrom("utils", "head", "write.csv")
